PORT=5000

AI_DB_HOST=localhost
AI_DB_PORT=3306
AI_DB_USER=
AI_DB_PASSWORD=
AI_DB_NAME=school_ai

SCHOOL_DB_HOST=
SCHOOL_DB_PORT=3306
SCHOOL_DB_USER=
SCHOOL_DB_PASSWORD=
SCHOOL_DB_NAME=

GROQ_API_KEY=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